ion-fab{
    margin-bottom: -5%;
    margin-right: 50%;
}
.typeS{
    font-weight: bold;
    color:rgb(67, 224, 67);
    font-size: medium;
}

.acCard{
    width :90%;
    height: 20%;
    border-radius: 12px;
    box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.16);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.acccCard{
    width :90%;
    height: 40%;
    border-radius: 12px;
    box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.16);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.title
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.not
{
    right:5%;
    position: absolute;
    
}
.s{
    width:10%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.s1{
    text-align: center;
    margin-top: -5px;
}
.sig{
    margin-top: 100px;
}
.s2{
    font-weight: bold;
}