.accCard{
    width :80%;
    height: 70%;
    border-radius: 12px;
    box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.16);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-size: 50px;
}

.s11{
    text-align: center;
    text-size-adjust: 100%;
    text-shadow: none;
}
.ssp
{
    width:50%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.ss{
    width:80%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.h32{
    font-size: 18px;
    
}

.h33{
    font-weight: bold;
    font-size: 22px;
    text-size-adjust: 100%;
    color:blue;
    text-decoration-line: underline;
}
.acCard1{
    height:27%;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:90%;
}